/**
 * Created by Administrator on 2017/3/31.
 * 首页的CSS样式
 */

/* 商品分类导航栏 s */
.shopClassBar {
    width: 189px;
    height: 320px;
    position: relative;
    float: left;
}

.shopClass-show {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.shopClass-show .shopClass-item {
    width: 179px;
    height: 47px;
    padding: 15px 0 0 10px;
    background-color: #4593fd;
    border-top: solid 1px #5aa1fe;
    border-bottom: solid 1px #3487f2;
}

/* shopClass-item的active状态 */
.shopClass-show dl.active {
    width: 178px;
    background-color: #fff;
    border-left: solid 1px #4593fd;
    border-right: solid 1px #fff;
    color: #000;
    position: relative;
    z-index: 5;
}

/* 隐藏dt的背景 */
.shopClass-show dl.active dt {
    background: none;
}

.shopClass-show dl.active a {
    color: #000;
}

.shopClass-show dl.active a:hover {
    color: #c81623;
}

.shopClass-show dl.active .aLink {
    color: #fff;
    text-decoration: none;
}

.shopClass-item dt {
    height: 25px;
    background: url("../images/icon/arrow-right.png") 162px center no-repeat;
    font-size: 14px;
}

.shopClass-item dt a {
    color: #fff;
}

.shopClass-item dt .aLink {
    width: 48px;
    height: 20px;
    line-height: 20px;
    background: url("../images/icon/aLink.png") left center no-repeat;
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
    display: inline-block;
}

.shopClass-item dd {
    font-family: "宋体", "SimSun";
    font-size: 12px;
}

.shopClass-item dd a{
    color: #c2d9f8;
}

.cate-item {
    width: 530px;
    padding: 0 20px 0 20px;
    border: solid 1px #e5e5e5;
    background-color: #fff;
    z-index: 4;
    display: none;
    position: absolute;
    top: 0px;
    left: 189px;
}

.cate-item .show {
    display: block;
}

.cate-item dl {
    margin-top: 18px;
    font-family: "宋体";
    font-size: 12px;
    border-bottom: solid 1px #e5e5e5;
}

.shopList-item dt {
    width: 68px;
    height: 27px;
    font-weight: bold;
    color: #4b88da;
}

.shopList-item dd a{
    height: 26px;
    color: #666666;
    display: inline-block;
}

.shopList-links a {
    margin: 6px 10px 6px 0;
    padding: 0 14px 0 8px;
    font: 12px/26px "宋体";
    background-color: #2785e6;
    color: #fff;
    display: inline-block;
}

.shopList-links a span {
    width: 5px;
    height: 8px;
    margin-left: 8px;
    background: url("../images/icon/arrow.png") left center no-repeat;
    display: inline-block;
}

.cate-item a:hover {
    color: #c81623;
}

.shopList-links a:hover {
    color: rgb(255, 255, 255);
}
/* 商品分类导航栏 e */

/* 产品列表 s */

/* 商品的标题栏 */
.product .product-title {
    width: 100%;
    height: 75px;
}

/* 商品标题栏左侧的图标 */
.product .product-icon {
    margin: 15px 14px 0 0;
}

/* 商品的标题 */
.product .product-title h3 {
    height: 75px;
    line-height: 75px;
    font: 24px/75px "微软雅黑", "microsoft yahei";
}

/* 更多按钮 */
.product .more {
    margin: 48px 21px 0 0;
    font-family: "新宋体";
    font-size: 12px;
}

.product .more a {
    color: #000;
}

.product .more a:hover {
    text-decoration: underline;
}

/* 右侧的商品展示区 */
.product-content .rightArea {
    width: 810px;
    border-bottom: solid 3px #ff7201;
    float: left;
}

/* 商品展示区的商品 */
.productList-top .product-item {
    width: 199px;
    height: 280px;
    margin-left: -1px;
    border: solid 1px #ccc;

    /* 清除display:inline-block属性产生的空隙 */
    font-size: 0;

    float: left;
}

.productList-top .product-item a {
    width: 199px;
    height: 279px;
    text-align: center;
    display: inline-block;
}

.productList-top .product-item img {
    padding: 45px 0 24px 0;
}

/* 商品的名称 */
.productList-top  .product-item .product-name {
    margin-bottom: 8px;
    font-size: 16px;
    color: #000;
    text-align: center;
}

/* 商品的价格 */
.productList-top .product-item .price {
    font-size: 14px;
    color: #ff7300;
    text-align: center;
}

.productList-bottom .product-item {
    width: 199px;
    height: 114px;
    margin: -1px 0 0 -1px;
    border: solid 1px #ccc;
    float: left;
}

.productList-bottom .product-item a {
    width: 199px;
    height: 116px;
    display: inline-block;
}

.productList-bottom .product-item img {
    padding: 20px 22px 0 31px;
    float: left;
}

.productList-bottom .product-item .product-info {
    width: 83px;
    padding-top: 44px;
}

/* 商品的名称 */
.product-item .product-info .name {
    font-family: "新宋体";
}

/* ￥符号 */
.product-item .product-info .price {
    font-size: 16px;
    color: #666666;
}

/* 商品的价格 */
.product-item .product-info .price span {
    color: #000;
}

.rightArea li.first {
    margin-left: 0;
}

.rightArea li.last {
    width: 208px;
}

.product-item:hover {
    border-color: #c81623;
    z-index: 1;
    position: relative;
}

.rightArea .product-item:hover h3,
.rightArea .product-item:hover p,
.rightArea .product-item:hover span {
    color: #c81623;
}
/* 产品列表 e */


















