/**
 * Created by Administrator on 2017/3/31.
 * 商品筛选页的CSS样式
 */

.add-style {
    cursor: pointer;
}

.add-style:hover {
    text-decoration: underline;
}

.pp,
.pmcc,
.czxt,
.yxnc,
.wllx {
    display: none;
}

.wrapper {
    width: 1048px;
}

/* 页面左侧 */
.wrapper .leftArea {
    width: 188px;
    border: solid 1px #d7d7d7;
}

/* 商品分类导航 s */
.leftArea .shopClassNav {
    width: 100%;
    background-color: #f3f3f3;
}

/* 商品分类导航中的标题 */
.shopClassNav h3 {
    height: 34px;
    text-align: center;
    color: #000;
    font: bold 16px/34px "微软雅黑", "microsoft yahei";
    border-bottom: solid 1px #d7d7d7;
}

.shopClassNav .shop-item {
    padding: 4px 0 0 10px;
    border-bottom: dotted 1px #d7d7d7;
}

.shopClassNav .last {
    border-bottom: solid 1px #d7d7d7;
}

.shopClassNav .shop-item dt {
    font: bold 14px/24px "微软雅黑", "microsoft yahei";
}

.shopClassNav .shop-item li {
    height: 22px;
    padding-left: 12px;
    font-size: 12px;
    font-family: "新宋体";
}

.shopClassNav .shop-item li a {
    color: #555;
}

.shopClassNav .shop-item li a:hover {
    color: #c81623;;
}

/* 商品分类 导航 e */

/* 左侧的商品列表 s */
.leftArea .shopList {
    width: 100%;
    padding-top: 10px;
}

.leftArea .shopList .shop-item {
    margin-bottom: 20px;
}

.leftArea .shopList .shop-info {
    width: 110px;
    margin-left: 10px;
    padding-top: 5px;
    font-size: 14px;
}

.leftArea .shop-name a {
    color: #999;
}

.leftArea .shop-name a:hover {
    color: #C81623;
}

.leftArea .shop-price {
    color: #e4393c;
    font-weight: 400;
    font-family: Verdana;
}

/* 左侧的商品列表 e */

/* 商品筛选部分 s */
.screening-box {
    width: 780px;
}

.screeningHeader {
    border-bottom: solid 1px #d9d9d9;
}

.screening-box dt {
    width: 84px;
    margin-right: 40px;
    font-size: 14px;
    color: #999999;
    text-align: right;
}

.screeningHeader li {
    width: 166px;
}

.screeningHeader li a {
    color: #1d7ad9;
}

.screeningBody dl {
    padding-top: 10px;
    border-bottom: dashed 1px #d9d9d9;
}

/* 不限按钮 */
.screeningBody .limit {
    margin-right: 28px;
}

.screeningBody .limit a{
    background-color: #1d7ad9;
    color: #fff;
}

.screeningBody ul {
    width: 655px;
}

.screeningBody li {
    width: 126px;
    height: 24px;
    float: left;
}

.screeningBody li a {
    color: #1d7ad9;;
}

.screeningBody li a:hover {
    color: #C81623;
}

/* 更多按钮 */
.screeningBody .more a {
    color: #000;
}

/* 商品筛选部分 e */

.addInfo {
    width: 770px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
    background-color: #f5f5f5;
    border: solid 1px #d9d9d9;
}

/* 商品列表 s */
.gl-warp {
    width: 840px;
    height:auto;
}

.gl-warp .gl-item {
    width: 40px;
    height: 466px;
    margin-right: 40px;
    margin-top: 10px;
    z-index: 1;
    float: left;
    position: relative;
}

.gl-i-wrap .gl-item .gl-i-wrap {
    width: 220px;
    background: #fff;
    border: 1px solid #fff;
    padding: 38px 9px 10px;
    -webkit-transition: border-color .1s ease;
    -moz-transition: border-color .1s ease;
    transition: border-color .1s ease;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

/* 商品列表 e */













