/**
 * Created by Administrator on 2017/3/31.
 * 购物车和结算页的CSS样式
 */

.header {
    margin-bottom: 12px;
}

/* 购物进度 */
.shop-progress {
    margin-top: 25px;
    margin-right: 32px;
    float: right;
}

.shop-progress .progress-icon {
    margin-left: 22px;
}

/* 购物进度中的小圆圈 */
.shop-progress .circle {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #FFF001;
    color: #1D7AD9;
    border-radius: 9px;
    float: left;
}

/* 小圆圈之间的连线 */
.shop-progress .line {
    width: 150px;
    height: 3px;
    margin-top: 7px;
    background-color: #FEF001;
    float: left;
}

.shop-progress .current {
    background-color: #8DBDEB;
}

.progress-text .text {
    margin-top: 8px;
    margin-right: 100px;
    font-size: 14px;
    color: #FEF001;
    font-weight: bold;
    float: left;
}

.progress-text span:nth-child(3) {
    margin-right: 0;
    margin-left: -20px;
    color: #fff;
}


/* 收货信息 */
.receive-info {
    border: solid 1px #CCCCCC;
}

.receive-info .title {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #F2F2F2;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #E3E3E3;
    font-size: 14px;
    color: #444444;
}

.receive-content {
    padding-top: 5px;
    padding-left: 30px;
}

.row {
    margin-bottom: 16px;
}

.row .content {
    position: relative;
    top: 2px;
    float: left;
}

/* 新号 */
.row .xing {
    margin-top: 3px;
    margin-right: 8px;
    font-size: 14px;
    color: #FF0000;
    float: left;
}

.row .name {
    margin-right: 5px;
    font-size: 14px;
    color: #444444;
    float: left;
}

/* 自定义select控件 */
.row .select {
    margin-right: 10px;
}

.row .select .select-options {
    max-height: 122px;
}

#province,
#city,
#area {
    text-align: left;
}

#province .select-name,
#city .select-name,
#area .select-name {
    width: 89px;
    height: 24px;
    overflow: hidden;
}

#province li,
#city li,
#area li {
    width: 93px;
    overflow: hidden;
}

/* 收货人地址输入框 */
.input-address {
    width: 373px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    border: solid 1px #C2C2C2;
}

.notice-info {
    height: 16px;
    line-height: 16px;
    color: #e22;
    display: none;
}

.notice-info .notice-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background: url("../images/icon/warning-icon.png") -17px -100px no-repeat;
    display: inline-block;
}

.place .notice-icon {
    display: none;
    background-position: 0px -117px;
    display: inline-block;
    position: relative;
    left: -9px;
    top: 5px;
}

/* 收货人姓名输入框 */
.input-receiver {
    width: 373px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    border: solid 1px #C2C2C2;
    position: relative;
    left: 2px;
}

/* 手机号码输入框 */
.input-phone {
    width: 373px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    border: solid 1px #C2C2C2;
    position: relative;
    left: 2px;
}

.row i {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-left: 10px;
    font-style: normal;
    font-size: 14px;
}

/* 区号输入框 */
.input-area {
    width: 52px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    border: solid 1px #C2C2C2;
    color: #000;
    position: relative;
    left: 1px;
}

/* 电话号码输入框 */
.input-tel {
    width: 87px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    border: solid 1px #C2C2C2;
    color: #000;
    position: relative;
    left: 1px;
}

/* 分机号输入框 */
.input-extension {
    width: 90px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    border: solid 1px #C2C2C2;
    color: #000;
    position: relative;
    left: 1px;
}

/* 确认收货地址按钮 */
.button-submit {
    width: 112px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    background-color: #4492FC;
    border: solid 1px #3784ED;
    border-bottom: none;
    color: #fff;
    cursor: pointer;
    float: left;
}

.info-text {
    height: 27px;
    line-height: 27px;
    padding-left: 10px;
    font-size: 16px;
    color: #e4393c;
    display: none;
    float: left;
}

/* 支付方式 */
.pay-way {
    margin-top: 20px;
    border: solid 1px #CCCCCC;
}

.pay-way .title {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
    background-color: #F4F4F4;
    border-bottom: solid 1px #E3E3E3;
}

.pay-way .pay-content {
    padding-left: 30px;
    padding-top: 15px;
    height: 90px;
}

.pay-content .row {
    height: 20px;
    line-height: 20px;
    margin-bottom: 26px;
}

/* 微信支付 */
.pay-content .row input {
    float: left;
}

.pay-content .row label {
    margin-left: 8px;
    margin-top: -4px;
    font-size: 14px;
    color: #444444;
    float: left;
}

.pay-content .image {
    margin-left: 20px;
    margin-top: -4px;
    float: left;
}

.pay-content .info {
    margin-left: 7px;
    margin-top: -4px;
    font-size: 14px;
    float: left;
}

/* 货到付款 */
.cash-label {
    margin-right: 18px;
}

/* 发票信息 */
.invoice-info {
    margin-top: 20px;
    border: solid 1px #CCCCCC;
}

.invoice-info .title {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
    background-color: #F3F3F3;
    color: #444444;
    border-top: solid 1px #fff;
}

#invoice-type {
    text-align: left;
    position: relative;
    z-index: 3;
}

#invoice-type .select-name {
    width: 88px;
    height: 24px;
    overflow: hidden;
}

#invoice-type .select-options {
    min-width: 119px;
}

#invoice-type li,
#invoice-header {
    padding-left: 6px;
}

#invoice-header {
    text-align: left;
}

#invoice-header .select-options {
    min-width: 61px;
}

.invoice-content .use {
    margin: 14px 0 30px 30px;
}

.invoice-content .use label {
    position: relative;
    top: -2px;
}

.invoice-content .row {
    margin-left: 37px;
}

.invoice-content .invoice-name {
    width: 127px;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    margin-left: 5px;
    border: solid 1px #ccc;
}

.invoice-content .button {
    margin-left: 47px;
    margin-bottom: 25px;
}

.invoice-content .button input {
    display: inline-block;
    width: 64px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

/* 保存按钮 */
.invoice-content .button .save {
    color: #ffffff;
    background-color: #4391FC;
    border: solid 1px #3784ED;
}

/* 取消按钮 */
.invoice-content .button .cancel {
    color: #000;
    background-color: #F6F6F6;
    border: solid 1px #CCCCCC;
}

.invoice-content .notice-text {
    font-size: 16px;
    color: #e4393c;
    display: none;
}

/* 送货清单 */
.delivery-info {
    margin-top: 20px;
    border: solid 1px #ccc;
}

.delivery-info .title {
    height: 30px;
    line-height: 30px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #ccc;
    background-color: #F4F4F4;
}

.delivery-info .title .name {
    margin-left: 10px;
    font-size: 14px;
    float: left;
}

.delivery-info .title .return {
    margin-right: 34px;
    float: right;
}

.delivery-info .return a {
    color: #3377FF;
}

.delivery-info .delivery-content {
    border-bottom: solid 1px #ccc;
}

.first-row {
    height: 34px;
    line-height: 34px;
    padding-left: 30px;
    border-bottom: solid 1px #ccc;
}

.first-row div {
    font-size: 14px;
    color: #666666;
    float: left;
}

/* 商品名称 */
.first-row .proName {

}

/* 单价 */
.first-row .unit-price {
    margin-left: 393px;
}

/* 返现 */
.first-row .cashback {
    margin-left: 112px;
}

/* 数量 */
.first-row .proNum {
    margin-left: 112px;
}

/* 小计 */
.first-row .subtotal {
    margin-left: 112px;
}

.second-row .proImage {
    margin: 10px 38px 10px 32px;
    float: left;
}

.second-row .row-right {
    float: left;
}

.second-row .row-top {
    margin-top: 14px;
    margin-bottom: 18px;
}

.row-top .proName {
    font-size: 14px;
    color: #666666;
    float: left;
}

.row-top .unit-price {
    margin-left: 86px;
    font-size: 14px;
    color: #666;
    float: left;
}

.row-top .cashback {
    margin-left: 74px;
    font-size: 14px;
    color: #666;
    float: left;
}

.row-top .proNum {
    margin-left: 114px;
    font-size: 14px;
    color: #666;
    float: left;
}

.row-top .subtotal {
    margin-left: 120px;
    font-size: 14px;
    color: #D70000;
    font-weight: bold;
    float: left;
}

.row-bottom {

}

.row-bottom .proName {
    float: left;
}

.row-bottom .proNum {
    margin-left: 436px;
    font-size: 14px;
    color: #666;
    float: left;
}

.delivery-bottom {
    padding-top: 14px;
    padding-left: 30px;
}

.delivery-bottom .notice {
    margin-bottom: 36px;
    color: #3377FF;
}

.delivery-bottom h3 {
    height: 14px;
    line-height: 14px;
    margin-bottom: 22px;
    color: #EE0000;
}

.delivery-bottom span {
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url("../images/icon/notice.jpg") center center no-repeat;
    position: relative;
    bottom: -2px;
}

/* 商品信息 */
.delivery-bottom .product-info {
    margin-bottom: 12px;
}

/* 商品图片 */
.product-info .product-image {
    float: left;
}

/* 商品描述 */
.product-info .product-des {
    margin-left: 10px;
    font-size: 14px;
    color: #666666;
    float: left;
}

/* 商品名称 */
.product-info .product-name {
    margin-bottom: 10px;
}

/* 商品数量 */
.product-info .product-num {
    margin-bottom: 10px;
}

/* 商品价格 */
.product-info .product-price {
    font-size: 12px;
}

.product-info .product-price em {
    color: #D70000;
}

/* 订单结算 */
.order-sett {
    margin-top: 20px;
    border: solid 1px #ccc;
}

.order-sett .title {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #F4F4F4;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
}

.order-sett .order-content {
    padding-top: 40px;
}

.order-content .right {
    margin-right: 30px;
    float: right;
}

/* 价格总计 */
.order-sett .total {
    margin-bottom: 16px;
    color: #929292;
}

.order-sett .total em {
    color: #EE0000;
    font-weight: bold;
    font-size: 20px;
}

/* 提交订单按钮 */
.order-sett .commit {
    width: 165px;
    height: 33px;
    line-height: 33px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: #E50007;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    outline-style: none;
    border: none;
    float: right;
}

.order-notice {
    height: 33px;
    line-height: 33px;
    margin-top: 42px;
    margin-right: 10px;
    font-size: 16px;
    color: #E50007;
    display: none;
    float: right;
}