/**
 * Created by Administrator on 2017/3/31.
 * 登录页的CSS样式
 */

@media (max-width: 1006px) {
    body {
        display: table;
    }
}

.header {
    width: 100%;
    height: 85px;
    display: table;
}

.show-result {
    display: block;
    visibility: hidden;
}

.logoBar h3 {
    margin-left: 22px;
    font: 22px/87px "微软雅黑", "microsoft yahei";
    color: #fff;
    float: left;
}

.logoBar .logo {
    padding-left: 390px;
}

.loginBox {
    width: 628px;
    padding-top: 10px;
    margin: 10px auto 100px;
    border: solid 1px #ccc;
}

.login li {
    height: 70px;
    vertical-align: top;
}

.login-item {
    width: 190px;
    height: 38px;
    font: 14px/38px "宋体", "SimSun";
    color: #999999;
    text-align: right;
    float: left;
}

.input-item {
    float: left;
}

.input-item input {
    width: 263px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    font-size: 16px;
    border: solid 1px #ccc;
}

.icon-username {
    background: url(../images/icon/user.jpg) 245px center no-repeat;
}

.tips {
    height: 14px;
    line-height: 14px;
    margin-left: 190px;
    padding: 2px 0 6px;
    color: #999;
}

.notice-info {
    margin-top: 3px;
    margin-left: 190px;
    color: #e22;
    display: none;
}

.notice-info .notice-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background: url(../images/icon/warning-icon.png) -17px -100px no-repeat;
    display: inline-block;
}

.icon-password {
    background: url(../images/icon/password.jpg) 245px center no-repeat;
}

.login .remember-password {
    height: 15px;
}

.remember-password .checkbox-item {
    margin-left: 190px;
}

.remember-password .checkbox-item input {
    position: relative;
    top: 2px;
}

.submit input {
    width: 263px;
    height: 52px;
    margin-left: 190px;
    margin-top: 10px;
    font: 22px/52px "微软雅黑";
    color: #fff;
    text-align: center;
    background: #5a98de;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
}