/**
 * Created by Administrator on 2017/3/31.
 * 注册页的CSS样式
 */

@media (max-width: 1006px) {
    body {
        display: table;
    }
}

.headerBar {
    width: 100%;
    display: table;
}

.logoBar {
    height: 85px;
    background-color: #1D7AD9;
}

.logoBar .logo {
    padding-left: 390px;
}

.logoBar h3 {
    margin-left: 22px;
    font: 22px/87px "微软雅黑", "microsoft yahei";
    color: #fff;
    float: left;
}

/* 注册 */
.registerBox {
    width: 628px;
    padding-top: 10px;
    margin: 10px auto;
    border: solid 1px #ccc;
}

.register li {
    height: 70px;
    vertical-align: top;
}

.register li:nth-of-type(5) {
    height: 38px;
}

.register-item {
    width: 190px;
    height: 38px;
    font: 14px/38px "宋体", "SimSun";
    color: #999999;
    text-align: right;
    float: left;
}

.register-item i {
    color: #FF0000;
    font-style: normal;
}

.input-item {
    float: left;
}

.input-item input {
    width: 263px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    font-size: 16px;
    border: solid 1px #ccc;
}

.icon-username {
    background: url("../images/icon/user.jpg") 245px center no-repeat;
}

.icon-password {
    background: url("../images/icon/password.jpg") 245px center no-repeat;
}

.checkbox-item {
    margin-left: 190px;
}

.checkbox-item input {
    position: relative;
    top: 2px;
}

.checkbox-item label {
    color: #333333;
}

.checkbox-item a {
    color: #005AA0;
}

.submit-item {
    margin-left: 190px;
}

.submit input {
    width: 263px;
    height: 52px;
    margin-left: 190px;
    margin-top: 10px;
    font: 22px/52px "微软雅黑";
    color: #fff;
    text-align: center;
    background: #69b946;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
}

.tips {
    height: 14px;
    line-height: 14px;
    margin-left: 190px;
    padding: 2px 0 6px;
    color: #999;
}

.notice-info {
    margin-top: 3px;
    margin-left: 190px;
    color: #e22;
    display: none;
}

.notice-info .notice-icon {
    width: 16px;
    height: 16px;
    vertical-align: top;
    background: url(../images/icon/warning-icon.png) -17px -100px no-repeat;
    display: inline-block;
}
