/**
 * Created by Administrator on 2017/3/31.
 * 重置标签的CSS样式
 */

/* CSS Document */
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, a {
    margin:0;
    padding:0;
    outline-style: none;
}

body {
    min-width: 980px;
    font-size:12px;
    font-family: "微软雅黑", "microsoft yahei";
}

img {
    border:none;
}

li {
    list-style:none;
}

s {
    text-decoration: none;
}

input,select,textarea {
    outline:none;
    border:none;
    background:none;
}

textarea {
    resize:none;
}

a {
    text-decoration:none;
    color:#666;
}

em,
i {
    font-style: normal;
}

/*/!*清浮动*!/*/
/*.clearfix:after {*/
    /*content:"";*/
    /*display:block;*/
    /*clear:both;*/
/*}*/

/*.clearfix {*/
    /**zoom:1;*/
/*}*/

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}


.fl {
    float:left;
}

.fr {
    float:right;
}

.hide {
    display: none;
}

.hr-15 {
    height: 15px;
}

.hr-25 {
    height: 25px;
}

.hr-45 {
    height: 45px;
}

.hr-15 {
    height: 15px;
}



























